<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="sones.solutions.dbpedia.import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <sones.solutions.dbpedia.import.Properties.Settings>
            <setting name="WorkDir" serializeAs="String">
                <value>h:\dbpedia\data\data</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="XmlFile" serializeAs="String">
                <value>data.xml</value>
            </setting>
        </sones.solutions.dbpedia.import.Properties.Settings>
    </userSettings>
</configuration>
