<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="_2_ParseAndConvertTripleDataFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <_2_ParseAndConvertTripleDataFiles.Properties.Settings>
            <setting name="WorkDir" serializeAs="String">
                <value>h:\dbpedia\data</value>
            </setting>
            <setting name="InsertLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="DataDirMaxEntries" serializeAs="String">
                <value>5000</value>
            </setting>
        </_2_ParseAndConvertTripleDataFiles.Properties.Settings>
    </applicationSettings>
</configuration>
